name: Publish Packages

on:
  release:
    types: [ published ]

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Build with Gradle Wrapper
        run: ./gradlew build -x test

      - name: Publish to Maven Repositories
        run: ./gradlew publish -x test
        env:
          AVERIX_USER: ${{ secrets.AVERIX_USER }}
          AVERIX_KEY: ${{ secrets.AVERIX_KEY }}
          BUILD_VERSION: ${{ github.ref_name }}